.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  width: 100%;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
}

.layout {
  display: flex;
}

.goal-list {
  border-bottom: 1px solid black;
}

.text-red {
  color: red;
}

.text-border {
  text-decoration: line-through;
}
